@import "tailwindcss";

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4 {
  font-family: 'Bebas Neue', sans-serif;
}

a { text-decoration: none; }

.glass-bg-color {
  backdrop-filter: blur(5px);
  background-color: rgba(98, 101, 103, 0.7);
}

.glass-bg-color2 {
  backdrop-filter: blur(20px);
  background-color: rgba(98, 101, 103, 0.9);
}

.fade-panel {
  animation: fadeIn 0.6s ease-in-out;
}
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(6px); }
  to { opacity: 1; transform: translateY(0); }
}
