@import "tailwindcss";

/* Color Palette */
:root {
  --soft-gray: #F5F5F5;
  --charcoal-gray: #333333;
  --dark-gray: #4A4A4A;
  --light-gold: #f4cf65;
  --darkgold: #b16e13;
}

/* Global Styles */
body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3 {
  font-family: 'Merriweather', serif;
}

a { text-decoration: none; }
